<html lang="zh-hans" dir="ltr" class="js"><!-- <![endif]--><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="shortcut icon" href="http://gjy.njnu.edu.cn/sites/default/files/favicon_1.ico" type="image/vnd.microsoft.icon">
<meta name="description" content="南京师范大学国际文化教育学院">
<meta name="abstract" content="南京师大国际文化教育学院在外国来华留学生汉语汉语预备教育方面成效卓著，2005年被教育部国家留学基金委确定为中国政府奖学金生预科教育的试点单位，是当时全国首批三所预科教育学校之一。">

<meta name="news_keywords" content="International College for Chinese Studies,Nanjing Normal University,ICCS,NNU">
<link rel="canonical" href="http://gjy.njnu.edu.cn/faculty">
<link rel="shortlink" href="http://gjy.njnu.edu.cn/faculty">
<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="renderer" content="webkit">
<title>教职员工-国际文化教育学院</title><meta name="pageType" content="2">
<meta name="pageTitle" content="教职员工">
<meta name="keywords" content="国际文化教育学院">

<link type="text/css" rel="stylesheet" href="../dfiles/11316/sites/default/files/css/css_xe-rwrjf-fncb6ztzfd2huxqgxu4wo-qwma6xer30m4.css" media="all">
<link type="text/css" rel="stylesheet" href="../dfiles/11316/sites/default/files/css/css__jsvfa5cozjnchrhp7in3lzrhrlmaecim5a0zgi8xoe.css" media="all">
<link type="text/css" rel="stylesheet" href="../dfiles/11316/sites/default/files/css/css_aeg5mapohch-orzgeoswgkqimhjr29ienxffirzkidw.css" media="all">

<link type="text/css" rel="stylesheet" href="../dfiles/11316/sites/default/files/css/css_evjj-9-nuhqrfozx3iaqxqbzozm5crjf9kdu1gjzuuq.css" media="all">
<link type="text/css" rel="stylesheet" href="../dfiles/12008/twitter-bootstrap/3.4.1/css/bootstrap.min.css" media="all">
<link type="text/css" rel="stylesheet" href="../dfiles/12008/font-awesome/4.7.0/css/font-awesome.min.css" media="all">
<link type="text/css" rel="stylesheet" href="../dfiles/11316/sites/default/files/css/css_c7geueu0lkq0x2g-wmpki67vaskipqr32dnj61s7w_g.css" media="all">
<link type="text/css" rel="stylesheet" href="../dfiles/11316/sites/default/files/css/css_ntr55mbzylmssbxnljrgu7jxclkpiwg_igliivryokq.css" media="print">



<script type="text/javascript" src="../dfiles/12008/jquery/1.10.2/jquery.min.js"></script>
<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="../_sitegray/_sitegray_d.css">
<script language="javascript" src="../_sitegray/_sitegray.js"></script>
<!-- CustomerNO:7765626265723230776447525055574200030003475c -->
<link rel="stylesheet" type="text/css" href="../xydtjzyg.vsb.css">
<script type="text/javascript" src="/system/resource/js/counter.js"></script>
<script type="text/javascript">_jsq_(1093,'/xydtjzyg.jsp',-1,1556897866)</script>
</head>
<body class="html not-front not-logged-in no-sidebars page-faculty sidebar-3col   show-breadcrumb ">
<header id="header" class="animate-onscroll">
    <div class="container-fluid">
        <section id="topmenu" class="section full-width-bg deepred-bg">
            <div class="row no-margin-bottom">
                <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12">
                    <div id="block-block-12" class="block block-block pull-right"> <div style="color:#fff;"><script language="javascript" src="/system/resource/js/dynclicks.js"></script><script language="javascript" src="/system/resource/js/openlink.js"></script>
<span class="en-home" style="margin:0 1em;"><a href="http://www.njnu.edu.cn/" target="_blank" onclick="_addDynClicks(&quot;wburl&quot;, 1556897866, 58574)">南京师范大学</a></span> |





<span class="en-home" style="margin:0 1em;"><a href="http://iccs.njnu.edu.cn/" target="_blank" onclick="_addDynClicks(&quot;wburl&quot;, 1556897866, 58575)">English</a></span> 




</div></div>                </div>
            </div>
        </section>
        <div id="main-header">
            <div class="row">
                <div class="col-lg-7 col-lg-offset-1 col-md-8">
                    <div class="logo">
<!-- 网站logo图片地址请在本组件"内容配置-网站logo"处填写 -->
<a href="../index.htm" title="首页" rel="home"> <img src="../images/logo.png" alt="国际文化教育学院" role="presentation"></a></div>
                </div>
                
                <div class="col-lg-3 col-md-4">
                       <div id="block-search-form" class="block block-search" role="search">


<script language="javascript" src="/system/resource/js/base64.js"></script><script language="javascript" src="/system/resource/vue/vue.js"></script><script language="javascript" src="/system/resource/vue/bluebird.min.js"></script><script language="javascript" src="/system/resource/vue/axios.js"></script><script language="javascript" src="/system/resource/vue/polyfill.js"></script><script language="javascript" src="/system/resource/vue/token.js"></script><link href="/system/resource/vue/static/element/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="/system/resource/vue/static/element/index.js"></script><script language="javascript" src="/system/resource/vue/static/public.js"></script><script language="javascript" src="/system/resource/js/jquery/jquery-latest.min.js"></script>

<style>
    #appu2 .qwss{
     font-family: 微软雅黑;  display: inline-block;    border-radius: 0; border: none; padding: 8px 10px; background: transparent;  color: #DC9E9F;box-shadow: none; border-bottom: 1px solid #DC9E9F;  font-size: 1.5rem;}
    #appu2 .tj{
        position: absolute;    top: -2px;
    right: -20px;}
</style>
<div id="divu2">
    <div id="appu2"><div><div style="padding: 3px; margin: 0px; display: inline; font-family: 宋体; font-size: 12px; position: relative;"><input type="text" placeholder="搜索" autocomplete="off" class="qwss form-control form-text"> <input name="submit_button" type="image" src="../images/00.png" class="tj fa fa-search"></div></div> <!----></div>
</div>
<script type="text/html" id="htmlu2">
    <div id="appu2">
        <div v-if="!isError">
         <div style="padding:3px;margin:0px;display:inline;font-family:宋体;font-size:12px;    position: relative;">
<input type="text" class="qwss form-control form-text" placeholder="搜索" autocomplete=off v-model=query.keyWord @keyup.enter="onSubmit">
<input class="tj fa fa-search" name="submit_button" type="image" src="../images/00.png" v-on:click="onSubmit()"/>
 </div>
            
            
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
    $("#divu2").html($("#htmlu2").text());
</script>
<script>
    var appOwner = "1556897866";
    var token = 'tourist';
    var urlPrefix = "/aop_component/";

    jQuery.support.cors = true;
    $.ajaxSetup({
        beforeSend: function (request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu2",
        data: function () {
            return {
                query: {
                    keyWord: "",//搜索关键词
                    owner: appOwner,
                    token: token,
                    urlPrefix: urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function () {
            var _this = this;
            // _this.init();
        },
        methods: {
            init: function(){
                $.ajax({
                    url: "/aop_component//webber/search/test",
                    type: "get",
                    success: function (response) {
                        if (response.code == "0000") {
                        } else if (response.code == "220") {
                            _this.isError = true;
                            console.log(response);
                        } else if (!response.code) {
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function (response) {
                        _this.isError = true;
                    }
                });
            },
            onSubmit: function (e) {
                var url = "/views/search/modules/resultpc/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "http://223.2.9.5:8083/" + url;
                }
                var _this = this;
                var query = _this.query;
                if (url.indexOf("?") > -1) {
                    url = url.split("?")[0];
                }
                if (query.keyWord) {
                    var query = new Base64().encode(JSON.stringify(query));
                    window.open(url + "?query=" + query);
                } else {
                    alert("请填写搜索内容")
                }
            },
        }
    })
</script></div>                </div>
            </div>
        
        
        <div id="lower-header">
            <div class="row">
              <div class="col-lg-10 col-lg-offset-1 col-md-12">
                                              <div id="block-tb-megamenu-main-menu" class="block block-tb-megamenu"> <div class="tb-megamenu tb-megamenu-main-menu">
  <ul class="tb-megamenu-nav nav menu navbar-nav level-0 items-7">  <li data-id="219" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega ">
  <a href="../index.htm">
        
    首页          </a>
  </li>
<li class="active active-trail" data-id="3461" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0">
  <a href="xyjj.htm" class="dropdown-toggle">
        
    学院概况          <span class="caret"></span>
          </a>
  <div data-class="" data-width="198" class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child" style="width: 198px;">
  <div class="mega-dropdown-inner">
    <div class="tb-megamenu-row row">
  <div data-class="" data-width="12" data-hidewcol="0" id="tb-megamenu-column-1" class="tb-megamenu-column col-sm-12  mega-col-nav">
  <div class="tb-megamenu-column-inner mega-inner clearfix">
        <ul class="tb-megamenu-subnav mega-nav level-1 items-6">
  <li data-id="3462" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="xyjj.htm">
        
    学院简介          </a>
  </li>

<li data-id="3463" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="xrld.htm">
        
    现任领导          </a>
  </li>

<li data-id="3464" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="xbzx.htm">
        
    系部中心          </a>
  </li>

<li data-id="3465" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="gljg.htm">
        
    管理机构          </a>
  </li>

<li data-id="3450" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="jzyg.htm">
        
    教职员工          </a>
  </li>

<li data-id="3466" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="jswyh.htm">
        
    教授委员会          </a>
  </li>
</ul>
  </div>
</div>
</div>
  </div>
</div>
</li>
<li data-id="3211" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega dropdown">
  <a href="../kxyj/tzgg.htm" class="dropdown-toggle">
        
    科学研究          <span class="caret"></span>
          </a>
  <div data-class="" data-width="198" class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child" style="width: 198px;">
  <div class="mega-dropdown-inner">
    <div class="tb-megamenu-row row">
  <div data-class="" data-width="12" data-hidewcol="0" id="tb-megamenu-column-2" class="tb-megamenu-column col-sm-12  mega-col-nav">
  <div class="tb-megamenu-column-inner mega-inner clearfix">
        <ul class="tb-megamenu-subnav mega-nav level-1 items-5">
  <li data-id="3214" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="../kxyj/tzgg.htm" title="科学研究">
        
    通知公告          </a>
  </li>

<li data-id="3213" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="../kxyj/kycg.htm" title="科学研究">
        
    科研成果          </a>
  </li>

<li data-id="3212" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="../kxyj/xsyd.htm" title="科学研究">
        
    学术园地          </a>
  </li>

<li data-id="4512" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="../kxyj/jdyxm.htm" title="科学研究">
        
    基地与项目          </a>
  </li>

<li data-id="3215" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="http://www.njnu.edu.cn/" title="科学研究" target="_blank">
        
    对外汉语研究所  <i style="background:url(../images/fff.png);display:inline-block;width:14px;height:14px;background-size:100%;margin-left: 10px;"></i>        </a>
  </li>
</ul>
  </div>
</div>
</div>
  </div>
</div>
</li>
<li data-id="3410" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="center" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-center dropdown">
  <a href="../rcpy.htm" class="dropdown-toggle">
        
    人才培养          <span class="caret"></span>
          </a>
  <div data-class="" data-width="840" class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child" style="width: 840px;">
  <div class="mega-dropdown-inner">
    <div class="tb-megamenu-row row">
  <div data-class="" data-width="4" data-hidewcol="0" id="tb-megamenu-column-4" class="tb-megamenu-column col-sm-4  mega-col-nav">
  <div class="tb-megamenu-column-inner mega-inner clearfix">
        <ul class="tb-megamenu-subnav mega-nav level-1 items-1">
  <li data-id="3411" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="1" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega mega-group">
  <a href="../rcpy/bkjy.htm" class="mega-group-title">
        
    本科教育          <span class="caret"></span>
          </a>
  <div data-class="" data-width="" class="tb-megamenu-submenu mega-group-ct nav-child">
  <div class="mega-dropdown-inner">
    <div class="tb-megamenu-row row">
  <div data-class="" data-width="12" data-hidewcol="0" id="tb-megamenu-column-3" class="tb-megamenu-column col-sm-12  mega-col-nav">
  <div class="tb-megamenu-column-inner mega-inner clearfix">
        <ul class="tb-megamenu-subnav mega-nav level-2 items-3">
  <li data-id="3479" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="../rcpy/bkjy/hygjjy.htm">
  
  
        
    汉语国际教育          </a>
  </li>

<li data-id="3480" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="../rcpy/bkjy/hyywx.htm">
        
    汉语言文学          </a>
  </li>

<li data-id="3481" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="../rcpy/bkjy/zgzfjxjykjy.htm">
        
    中国政府奖学金生预科教育          </a>
  </li>
</ul>
  </div>
</div>
</div>
  </div>
</div>
</li>
</ul>
  </div>
</div>

<div data-class="" data-width="4" data-hidewcol="" id="tb-megamenu-column-6" class="tb-megamenu-column col-sm-4  mega-col-nav">
  <div class="tb-megamenu-column-inner mega-inner clearfix">
        <ul class="tb-megamenu-subnav mega-nav level-1 items-1">
  <li data-id="3489" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="1" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega mega-group">
  <a href="../rcpy/yjsjy.htm" class="mega-group-title">
        
    研究生教育          <span class="caret"></span>
          </a>
  <div data-class="" data-width="" class="tb-megamenu-submenu mega-group-ct nav-child">
  <div class="mega-dropdown-inner">
    <div class="tb-megamenu-row row">
  <div data-class="" data-width="12" data-hidewcol="0" id="tb-megamenu-column-5" class="tb-megamenu-column col-sm-12  mega-col-nav">
  <div class="tb-megamenu-column-inner mega-inner clearfix">
        <ul class="tb-megamenu-subnav mega-nav level-2 items-3">
  <li data-id="3486" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="../rcpy/yjsjy/dwhyjxbspyfa.htm">
        
    对外汉语教学博士培养方案       </a>
  </li>
   <li data-id="3489" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="../rcpy/yjsjy/hygjjybspyfa.htm">
        
     汉语国际教育博士培养方案       </a>
  </li>

<li data-id="3487" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="../info/1057/2016.htm">
        
    对外汉语教学硕士培养方案          </a>
  </li>

<li data-id="3488" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="../info/1058/2015.htm">
        
    汉语国际教育硕士培养方案          </a>
  </li>
</ul>
  </div>
</div>
</div>
  </div>
</div>
</li>
</ul>
  </div>
</div>

<div data-class="" data-width="4" data-hidewcol="" id="tb-megamenu-column-8" class="tb-megamenu-column col-sm-4  mega-col-nav">
  <div class="tb-megamenu-column-inner mega-inner clearfix">
        <ul class="tb-megamenu-subnav mega-nav level-1 items-1">
  <li data-id="3415" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="1" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega mega-group">
  <a href="../rcpy/fxljy.htm" class="mega-group-title">
        
    非学历教育          <span class="caret"></span>
          </a>
  <div data-class="" data-width="" class="tb-megamenu-submenu mega-group-ct nav-child">
  <div class="mega-dropdown-inner">
    <div class="tb-megamenu-row row">
  <div data-class="" data-width="12" data-hidewcol="0" id="tb-megamenu-column-7" class="tb-megamenu-column col-sm-12  mega-col-nav">
  <div class="tb-megamenu-column-inner mega-inner clearfix">
        <ul class="tb-megamenu-subnav mega-nav level-2 items-4">
  <li data-id="3482" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="../info/1059/2014.htm">
  
 
        
    汉语进修教育          </a>
  </li>

<li data-id="3483" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="../rcpy/fxljy/hydqjy.htm">
        
    汉语短期教育          </a>
  </li>

<li data-id="3484" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="../rcpy/fxljy/hwjyxm.htm">
        
    华文教育项目          </a>
  </li>

<li data-id="3485" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="../rcpy/fxljy/qtkcxm.htm">
        
    其他课程项目          </a>
  </li>
</ul>
  </div>
</div>
</div>
  </div>
</div>
</li>
</ul>
  </div>
</div>
</div>
  </div>
</div>
</li>
<li data-id="3284" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="right" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-right dropdown">
  <a href="../djrs/dwgz.htm" class="dropdown-toggle">
        
    党建人事          <span class="caret"></span>
          </a>
  <div data-class="" data-width="198" class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child" style="width: 198px;">
  <div class="mega-dropdown-inner">
    <div class="tb-megamenu-row row">
  <div data-class="" data-width="12" data-hidewcol="0" id="tb-megamenu-column-9" class="tb-megamenu-column col-sm-12  mega-col-nav">
  <div class="tb-megamenu-column-inner mega-inner clearfix">
        <ul class="tb-megamenu-subnav mega-nav level-1 items-5">
  <li data-id="3285" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="../djrs/dwgz.htm" title="党建人事">
        
    党委工作          </a>
  </li>

<li data-id="3286" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="../djrs/rsgz.htm" title="党建人事">
        
    人事工作          </a>
  </li>

<li data-id="3287" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="../djrs/gh_jdh_.htm" title="党建人事">
        
    工会（教代会）          </a>
  </li>

<li data-id="3288" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="../djrs/tzgz.htm" title="党建人事">
        
    统战工作          </a>
  </li>

<li data-id="3451" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="../djrs/ggw.htm" title="党建人事">
        
    关工委          </a>
  </li>
</ul>
  </div>
</div>
</div>
  </div>
</div>
</li>
<li data-id="3193" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="center" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-center dropdown">
  <a href="../lxsgz.htm" class="dropdown-toggle">
        
    留学生工作          <span class="caret"></span>
          </a>
  <div data-class="" data-width="400" class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child" style="width: 400px;">
  <div class="mega-dropdown-inner">
    <div class="tb-megamenu-row row">
  <div data-class="" data-width="6" data-hidewcol="" id="tb-megamenu-column-10" class="tb-megamenu-column col-sm-6  mega-col-nav">
  <div class="tb-megamenu-column-inner mega-inner clearfix">
        <ul class="tb-megamenu-subnav mega-nav level-1 items-4">
  <li data-id="3194" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="../lxsgz/xxxl.htm" title="留学生工作">
        
    学校校历          </a>
  </li>

<li data-id="3195" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="../lxsgz/jlxkqz1.htm">
        
    居留许可/签证          </a>
  </li>

<li data-id="3196" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="../lxsgz/zhbx.htm">
        
    综合保险          </a>
  </li>

<li data-id="3197" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="../lxsgz/gzzd.htm">
        
    规章制度          </a>
  </li>
</ul>
  </div>
</div>

<div data-class="" data-width="6" data-hidewcol="0" id="tb-megamenu-column-11" class="tb-megamenu-column col-sm-6  mega-col-nav">
  <div class="tb-megamenu-column-inner mega-inner clearfix">
        <ul class="tb-megamenu-subnav mega-nav level-1 items-3">
  <li data-id="3198" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="../lxsgz/shzn.htm">
        
    生活指南          </a>
  </li>

<li data-id="3199" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="../lxsgz/xsfc.htm">
        
    学生风采          </a>
  </li>

<li data-id="3458" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="../lxsgz/xydt.htm">
        
    校园地图          </a>
  </li>
</ul>
  </div>
</div>
</div>
  </div>
</div>
</li>
<li data-id="3278" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="right" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega mega-align-right dropdown">
  <a href="../zgxsgz.htm" class="dropdown-toggle">
        
    中国学生工作         <span class="caret"></span>
          </a>
  <div data-class="" data-width="500" class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child" style="width: 500px;">
  <div class="mega-dropdown-inner">
    <div class="tb-megamenu-row row">
  <div data-class="" data-width="6" data-hidewcol="0" id="tb-megamenu-column-13" class="tb-megamenu-column col-sm-6  mega-col-nav">
  <div class="tb-megamenu-column-inner mega-inner clearfix">
        <ul class="tb-megamenu-subnav mega-nav level-1 items-1">
  <li data-id="3477" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="1" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega mega-group">
  <a href="../zgxsgz/bksgz.htm" class="mega-group-title">
        
    本科生工作          <span class="caret"></span>
          </a>
  <div data-class="" data-width="" class="tb-megamenu-submenu mega-group-ct nav-child">
  <div class="mega-dropdown-inner">
    <div class="tb-megamenu-row row">
  <div data-class="" data-width="12" data-hidewcol="0" id="tb-megamenu-column-12" class="tb-megamenu-column col-sm-12  mega-col-nav">
  <div class="tb-megamenu-column-inner mega-inner clearfix">
        <ul class="tb-megamenu-subnav mega-nav level-2 items-6">
  <li data-id="3467" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="../zgxsgz/bksgz/tzgg.htm" title="中国学生工作">
        
    通知公示          </a>
  </li>

<li data-id="3468" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="../zgxsgz/bksgz/btjs.htm" title="中国学生工作">
        
    班团建设          </a>
  </li>

<li data-id="3469" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="../zgxsgz/bksgz/wjzc.htm" title="中国学生工作">
        
    文件政策          </a>
  </li>

<li data-id="3470" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="www.baidu.com" title="中国学生工作">
        
    学生党建          </a>
  </li>

<li data-id="4510" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="../zgxsgz/bksgz/bkszs.htm" title="中国学生工作">
        
    本科生招生          </a>
  </li>

<li data-id="3471" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="../zgxsgz/bksgz/jyzd.htm" title="中国学生工作">
        
    就业指导          </a>
  </li>
</ul>
  </div>
</div>
</div>
  </div>
</div>
</li>
</ul>
  </div>
</div>

<div data-class="" data-width="6" data-hidewcol="" id="tb-megamenu-column-15" class="tb-megamenu-column col-sm-6  mega-col-nav">
  <div class="tb-megamenu-column-inner mega-inner clearfix">
        <ul class="tb-megamenu-subnav mega-nav level-1 items-1">
  <li data-id="3478" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="1" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega mega-group">
  <a href="../zgxsgz/yjsgz.htm" class="mega-group-title">
        
    研究生工作          <span class="caret"></span>
          </a>
  <div data-class="" data-width="" class="tb-megamenu-submenu mega-group-ct nav-child">
  <div class="mega-dropdown-inner">
    <div class="tb-megamenu-row row">
  <div data-class="" data-width="12" data-hidewcol="0" id="tb-megamenu-column-14" class="tb-megamenu-column col-sm-12  mega-col-nav">
  <div class="tb-megamenu-column-inner mega-inner clearfix">
        <ul class="tb-megamenu-subnav mega-nav level-2 items-6">
  <li data-id="3472" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="../zgxsgz/yjsgz/tzgg.htm" title="中国学生工作">
        
    通知公示          </a>
  </li>

<li data-id="3473" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="../zgxsgz/yjsgz/xsdj.htm" title="中国学生工作">
        
    学生党建          </a>
  </li>

<li data-id="4511" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="../zgxsgz/yjsgz/yjszs.htm" title="中国学生工作">
        
    研究生招生          </a>
  </li>

<li data-id="3474" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="../zgxsgz/yjsgz/jyzd.htm" title="中国学生工作">
        
    就业指导          </a>
  </li>

<li data-id="3475" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="../zgxsgz/yjsgz/bthd.htm" title="中国学生工作">
        
    班团活动          </a>
  </li>

<li data-id="3476" data-level="3" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-3 mega">
  <a href="../zgxsgz/yjsgz/kydt.htm" title="中国学生工作">
        
    科研动态          </a>
  </li>
</ul>
  </div>
</div>
</div>
  </div>
</div>
</li>
</ul>
  </div>
</div>
</div>
  </div>
</div>
</li>
<li data-id="3461" data-level="1" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-1 mega dropdown">
  <a href="../syxg.htm" class="dropdown-toggle">
        
    岁月星光          <span class="caret"></span>
          </a>
  <div data-class="" data-width="198" class="tb-megamenu-submenu dropdown-menu mega-dropdown-menu nav-child" style="width: 198px;">
  <div class="mega-dropdown-inner">
    <div class="tb-megamenu-row row">
  <div data-class="" data-width="12" data-hidewcol="0" id="tb-megamenu-column-1" class="tb-megamenu-column col-sm-12  mega-col-nav">
  <div class="tb-megamenu-column-inner mega-inner clearfix">
        <ul class="tb-megamenu-subnav mega-nav level-1 items-6">
  <li data-id="3462" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="../syxg/jjgj.htm">
        
    聚焦国教
          </a>
  </li>

<li data-id="3463" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="../syxg/xyfc.htm">
        
    校友风采
         </a>
  </li>

<li data-id="3464" data-level="2" data-type="menu_item" data-class="" data-xicon="" data-caption="" data-alignsub="" data-group="0" data-hidewcol="0" data-hidesub="0" class="tb-megamenu-item level-2 mega">
  <a href="../syxg/xqzf.htm">
        
   校庆祝福          </a>
  </li>


</ul>
  </div>
</div>
</div>
  </div>
</div>
</li>
</ul>
</div>
</div>                                </div>
            </div>
        </div>
    </div>
</div></header>


<div class="container-fluid">
    <section id="content">
            <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-md-12">
            <section class="section gray-bg page-heading animate-onscroll">
                          <div class="breadcrumb-wrapper pull-right showbreadcrmub">
                    <div class="breadcrumb"><div>
   
                        <a href="../index.htm">首页</a>
                /
                <a href="../xygk1.htm">学院概况</a>
                /
                <a href="jzyg.htm">教职员工</a>
</div></div>             </div>
                                                        <h1 class="title " id="page-title">
教职员工</h1>
                                    </section>
          </div>
        </div>
        
        <section class="section full-width-bg paddingtb-30">            
            <div class="row">           
                                <aside class="col-lg-3 col-md-3 col-sm-4 sidebar">
                    <div class="row">
                        <div class="col-lg-9 col-lg-offset-1 col-md-12">
                            <div id="sidebar-left">  <div id="block-views-exp-faculty-page" class="block block-views"> <form class="ctools-auto-submit-full-form" action="../faculty" method="get" id="views-exposed-form-faculty-page" accept-charset="UTF-8"><div><div class="views-exposed-form">
  <div class="views-exposed-widgets clearfix">
          <div id="edit-field-research-area-target-id-wrapper" class="views-exposed-widget views-widget-filter-field_research_area_target_id">
                  <label for="edit-field-research-area-target-id">
            按研究方向筛选          </label>
                        <div class="views-widget">
          <div class="form-type-select form-item-field-research-area-target-id form-item form-group">
 <ul class="bef-tree"><li class="depth-0 item-All "><div id="edit-field-research-area-target-id-all" class="form-type-bef-link form-item-edit-field-research-area-target-id-all form-item form-group">
 <a href="jzyg.htm">全部</a>
</div>

</li><li class="depth-0 item-1226 "><div id="edit-field-research-area-target-id-1226" class="form-type-bef-link form-item-edit-field-research-area-target-id-1226 form-item form-group">
 <a href="jzyg/zgyyywx.htm">中国语言与文学</a>
</div>

</li><li class="depth-0 item-1227 "><div id="edit-field-research-area-target-id-1227" class="form-type-bef-link form-item selected-edit-field-research-area-target-id-1227 form-item selected form-group">
 <a href="jzyg/dwhy.htm">对外汉语</a>
</div>
</li></ul><div class="bef-select-as-links"><input type="hidden" name="field_research_area_target_id" value="All"></div>
</div>
        </div>
              </div>
                    <div class="views-exposed-widget views-submit-button">
      <input class="ctools-use-ajax ctools-auto-submit-click js-hide element-hidden form-submit" type="submit" id="edit-submit-faculty" name="" value="应用">    </div>
      </div>
</div>
</div></form></div></div>
                        </div>
                    </div>
                </aside>
                                <section class="col-lg-9 col-md-9 col-sm-8">
                                                                  <div id="block-system-main" class="block block-system"> <div class="view view-faculty view-id-faculty view-display-id-page view-dom-id-b51b28f7a81d5ae47f384747235c0000"><div class="view-header">
      <article id="node-1230" class="node-full node node-page node-hide_node_title clearfix" about="/content/shi-zi-dui-wu-gai-kuang" typeof="schema:Event foaf:Document">
  <div class="field field-name-body field-type-text-with-summary field-label-hidden">
    <div class="field-items">
          <div class="field-item even" property="content:encoded"><script language="javascript" src="/system/resource/js/news/mp4video.js"></script>
<p style="text-indent: 2em; line-height: 2em;"><span microsoft="" yahei",="" "wenquanyi="" micro="" hei",="" 宋体,="" tahoma,="" "helvetica="" neue",="" helvetica,="" "hiragino="" sans="" gb",="" sans-serif;="" background-color:="" rgb(255,="" 255,="" 255);="" font-size:="" 18px;"="" style="color: rgb(65, 65, 65); text-indent: 32px; font-family: 微软雅黑, ">目前,国际文化教育学院有专职教师43名，其中教授3名，副教授20名，博士生导师3名，硕士生导师19名，具有博士学位教师34人，绝大多数教师都具有海外教学经历，已经形成了一支年龄结构合理、学历较高、研究有特色、富有朝气和活力的对外汉语教学科研队伍。</span></p>
<p style="text-indent: 2em; line-height: 2em;"><span style="font-size: 18px;"></span><br></p></div>
      </div>
</div>
<span property="dc:title" content="师资队伍概况" class="rdf-meta element-hidden"></span>    <footer>
      </footer>
  </article>
    </div>
  
 <div>









<script language="javascript" src="/system/resource/js/centerCutImg.js"></script><script language="javascript" src="/system/resource/js/ajax.js"></script><div class="faculty-row" id="line_u8_0">
      
          <div class="center-block faculty-page-img"><a href="../info/1094/2818.htm"><img typeof="foaf:Image" src="/__local/D/38/0E/603A8815C60A6C309CCA0261D00_54A3E814_F3F.gif" width="600" height="600" alt=""></a></div>    
  <div class="views-field views-field-title">        <span class="field-content"><a href="../info/1094/2818.htm"> 高立平<i style="background:url(../images/03.png);display:inline-block;width:7px;height:12px;background-size:100%;margin-left: 10px;"></i></a></span>  </div>  </div>
  
    <span id="section_u8_0" style="display:none;"><hr style="height:1px;border:none;border-top:1px dashed #CCCCCC;"></span>
<div class="faculty-row" id="line_u8_1">
      
          <div class="center-block faculty-page-img"><a href="../info/1095/2806.htm"><img typeof="foaf:Image" src="/__local/D/38/0E/603A8815C60A6C309CCA0261D00_54A3E814_F3F.gif" width="600" height="600" alt=""></a></div>    
  <div class="views-field views-field-title">        <span class="field-content"><a href="../info/1095/2806.htm">钱玉莲<i style="background:url(../images/03.png);display:inline-block;width:7px;height:12px;background-size:100%;margin-left: 10px;"></i></a></span>  </div>  </div>
  
    <span id="section_u8_1" style="display:none;"><hr style="height:1px;border:none;border-top:1px dashed #CCCCCC;"></span>
<div class="faculty-row" id="line_u8_2">
      
          <div class="center-block faculty-page-img"><a href="../info/1095/2546.htm"><img typeof="foaf:Image" src="/__local/5/1C/F8/630F63349E8E4DD2C9C8B9A7E2E_1C885580_1521A.jpg" width="600" height="600" alt=""></a></div>    
  <div class="views-field views-field-title">        <span class="field-content"><a href="../info/1095/2546.htm">车淑娅<i style="background:url(../images/03.png);display:inline-block;width:7px;height:12px;background-size:100%;margin-left: 10px;"></i></a></span>  </div>  </div>
  
    <span id="section_u8_2" style="display:none;"><hr style="height:1px;border:none;border-top:1px dashed #CCCCCC;"></span>
<div class="faculty-row" id="line_u8_3">
      
          <div class="center-block faculty-page-img"><a href="../info/1095/2798.htm"><img typeof="foaf:Image" src="/__local/D/38/0E/603A8815C60A6C309CCA0261D00_54A3E814_F3F.gif?e=.gif" width="600" height="600" alt=""></a></div>    
  <div class="views-field views-field-title">        <span class="field-content"><a href="../info/1095/2798.htm">段业辉<i style="background:url(../images/03.png);display:inline-block;width:7px;height:12px;background-size:100%;margin-left: 10px;"></i></a></span>  </div>  </div>
  
    <span id="section_u8_3" style="display:none;"><hr style="height:1px;border:none;border-top:1px dashed #CCCCCC;"></span>
<div class="faculty-row" id="line_u8_4">
      
          <div class="center-block faculty-page-img"><a href="../info/1095/2799.htm"><img typeof="foaf:Image" src="/__local/C/8A/81/F814E6E748FC07372E601AED691_B8886974_6489.jpg" width="600" height="600" alt=""></a></div>    
  <div class="views-field views-field-title">        <span class="field-content"><a href="../info/1095/2799.htm">张小峰<i style="background:url(../images/03.png);display:inline-block;width:7px;height:12px;background-size:100%;margin-left: 10px;"></i></a></span>  </div>  </div>
  
    <span id="section_u8_4" style="display:none;"><hr style="height:1px;border:none;border-top:1px dashed #CCCCCC;"></span>
<div class="faculty-row" id="line_u8_5">
      
          <div class="center-block faculty-page-img"><a href="../info/1095/2809.htm"><img typeof="foaf:Image" src="/__local/D/38/0E/603A8815C60A6C309CCA0261D00_54A3E814_F3F.gif?e=.gif" width="600" height="600" alt=""></a></div>    
  <div class="views-field views-field-title">        <span class="field-content"><a href="../info/1095/2809.htm">梁社会<i style="background:url(../images/03.png);display:inline-block;width:7px;height:12px;background-size:100%;margin-left: 10px;"></i></a></span>  </div>  </div>
  
    <span id="section_u8_5" style="display:none;"><hr style="height:1px;border:none;border-top:1px dashed #CCCCCC;"></span>
<div class="faculty-row" id="line_u8_6">
      
          <div class="center-block faculty-page-img"><a href="../info/1095/2802.htm"><img typeof="foaf:Image" src="/__local/C/B6/3D/533E48DF4DE454E7F82C8F983E0_EE84FF97_3100B.jpg?e=.jpg" width="600" height="600" alt=""></a></div>    
  <div class="views-field views-field-title">        <span class="field-content"><a href="../info/1095/2802.htm">徐正龙<i style="background:url(../images/03.png);display:inline-block;width:7px;height:12px;background-size:100%;margin-left: 10px;"></i></a></span>  </div>  </div>
  
    <span id="section_u8_6" style="display:none;"><hr style="height:1px;border:none;border-top:1px dashed #CCCCCC;"></span>
<div class="faculty-row" id="line_u8_7">
      
          <div class="center-block faculty-page-img"><a href="../info/1095/2807.htm"><img typeof="foaf:Image" src="/__local/D/38/0E/603A8815C60A6C309CCA0261D00_54A3E814_F3F.gif?e=.gif" width="600" height="600" alt=""></a></div>    
  <div class="views-field views-field-title">        <span class="field-content"><a href="../info/1095/2807.htm">钱慧真<i style="background:url(../images/03.png);display:inline-block;width:7px;height:12px;background-size:100%;margin-left: 10px;"></i></a></span>  </div>  </div>
  
    <span id="section_u8_7" style="display:none;"><hr style="height:1px;border:none;border-top:1px dashed #CCCCCC;"></span>
<div class="faculty-row" id="line_u8_8">
      
          <div class="center-block faculty-page-img"><a href="../info/1095/2801.htm"><img typeof="foaf:Image" src="/__local/D/38/0E/603A8815C60A6C309CCA0261D00_54A3E814_F3F.gif?e=.gif" width="600" height="600" alt=""></a></div>    
  <div class="views-field views-field-title">        <span class="field-content"><a href="../info/1095/2801.htm">张美霞<i style="background:url(../images/03.png);display:inline-block;width:7px;height:12px;background-size:100%;margin-left: 10px;"></i></a></span>  </div>  </div>
  
    <span id="section_u8_8" style="display:none;"><hr style="height:1px;border:none;border-top:1px dashed #CCCCCC;"></span>
<div class="faculty-row" id="line_u8_9">
      
          <div class="center-block faculty-page-img"><a href="../info/1095/2808.htm"><img typeof="foaf:Image" src="/__local/1/FA/44/92FCE490AA96C7CA33E4A725586_5324BB6B_D01C9.jpg" width="600" height="600" alt=""></a></div>    
  <div class="views-field views-field-title">        <span class="field-content"><a href="../info/1095/2808.htm">刘影<i style="background:url(../images/03.png);display:inline-block;width:7px;height:12px;background-size:100%;margin-left: 10px;"></i></a></span>  </div>  </div>
  
    <span id="section_u8_9" style="display:none;"><hr style="height:1px;border:none;border-top:1px dashed #CCCCCC;"></span>
<div class="faculty-row" id="line_u8_10">
      
          <div class="center-block faculty-page-img"><a href="../info/1095/3002.htm"><img typeof="foaf:Image" src="/__local/5/C9/B4/A130C51D0A86FBFA4921975DBFB_6AD5FB29_82376.jpg" width="600" height="600" alt=""></a></div>    
  <div class="views-field views-field-title">        <span class="field-content"><a href="../info/1095/3002.htm">朱乐川<i style="background:url(../images/03.png);display:inline-block;width:7px;height:12px;background-size:100%;margin-left: 10px;"></i></a></span>  </div>  </div>
  
    <span id="section_u8_10" style="display:none;"><hr style="height:1px;border:none;border-top:1px dashed #CCCCCC;"></span>
<div class="faculty-row" id="line_u8_11">
      
          <div class="center-block faculty-page-img"><a href="../info/1096/2811.htm"><img typeof="foaf:Image" src="/__local/C/24/3D/4CC6609CD3CBA20196F370D9EFB_4D0B2CC8_21134.jpg" width="600" height="600" alt=""></a></div>    
  <div class="views-field views-field-title">        <span class="field-content"><a href="../info/1096/2811.htm">周文华<i style="background:url(../images/03.png);display:inline-block;width:7px;height:12px;background-size:100%;margin-left: 10px;"></i></a></span>  </div>  </div>
  
    <span id="section_u8_11" style="display:none;"><hr style="height:1px;border:none;border-top:1px dashed #CCCCCC;"></span>
<div class="faculty-row" id="line_u8_12">
      
          <div class="center-block faculty-page-img"><a href="../info/1095/3677.htm"><img typeof="foaf:Image" src="/__local/D/38/0E/603A8815C60A6C309CCA0261D00_54A3E814_F3F.gif" width="600" height="600" alt=""></a></div>    
  <div class="views-field views-field-title">        <span class="field-content"><a href="../info/1095/3677.htm">吴莉莉<i style="background:url(../images/03.png);display:inline-block;width:7px;height:12px;background-size:100%;margin-left: 10px;"></i></a></span>  </div>  </div>
  
    <span id="section_u8_12" style="display:none;"><hr style="height:1px;border:none;border-top:1px dashed #CCCCCC;"></span>
<div class="faculty-row" id="line_u8_13">
      
          <div class="center-block faculty-page-img"><a href="../info/1096/2815.htm"><img typeof="foaf:Image" src="/__local/D/38/0E/603A8815C60A6C309CCA0261D00_54A3E814_F3F.gif" width="600" height="600" alt=""></a></div>    
  <div class="views-field views-field-title">        <span class="field-content"><a href="../info/1096/2815.htm">韩石<i style="background:url(../images/03.png);display:inline-block;width:7px;height:12px;background-size:100%;margin-left: 10px;"></i></a></span>  </div>  </div>
  
    <span id="section_u8_13" style="display:none;"><hr style="height:1px;border:none;border-top:1px dashed #CCCCCC;"></span>
<div class="faculty-row" id="line_u8_14">
      
          <div class="center-block faculty-page-img"><a href="../info/1095/3678.htm"><img typeof="foaf:Image" src="/__local/D/38/0E/603A8815C60A6C309CCA0261D00_54A3E814_F3F.gif" width="600" height="600" alt=""></a></div>    
  <div class="views-field views-field-title">        <span class="field-content"><a href="../info/1095/3678.htm">杨娟<i style="background:url(../images/03.png);display:inline-block;width:7px;height:12px;background-size:100%;margin-left: 10px;"></i></a></span>  </div>  </div>
  
    <span id="section_u8_14" style="display:none;"><hr style="height:1px;border:none;border-top:1px dashed #CCCCCC;"></span>
<div class="faculty-row" id="line_u8_15">
      
          <div class="center-block faculty-page-img"><a href="../info/1096/2814.htm"><img typeof="foaf:Image" src="/__local/9/F0/CB/605500DA95894F3A7DB6D7244D7_38672925_30627.jpg" width="600" height="600" alt=""></a></div>    
  <div class="views-field views-field-title">        <span class="field-content"><a href="../info/1096/2814.htm">梁世红<i style="background:url(../images/03.png);display:inline-block;width:7px;height:12px;background-size:100%;margin-left: 10px;"></i></a></span>  </div>  </div>
  
    <span id="section_u8_15" style="display:none;"><hr style="height:1px;border:none;border-top:1px dashed #CCCCCC;"></span>
<div class="faculty-row" id="line_u8_16">
      
          <div class="center-block faculty-page-img"><a href="../info/1095/3674.htm"><img typeof="foaf:Image" src="/__local/D/38/0E/603A8815C60A6C309CCA0261D00_54A3E814_F3F.gif" width="600" height="600" alt=""></a></div>    
  <div class="views-field views-field-title">        <span class="field-content"><a href="../info/1095/3674.htm">李贤卓<i style="background:url(../images/03.png);display:inline-block;width:7px;height:12px;background-size:100%;margin-left: 10px;"></i></a></span>  </div>  </div>
  
    <span id="section_u8_16" style="display:none;"><hr style="height:1px;border:none;border-top:1px dashed #CCCCCC;"></span>
<div class="faculty-row" id="line_u8_17">
      
          <div class="center-block faculty-page-img"><a href="../info/1096/2812.htm"><img typeof="foaf:Image" src="/__local/D/38/0E/603A8815C60A6C309CCA0261D00_54A3E814_F3F.gif" width="600" height="600" alt=""></a></div>    
  <div class="views-field views-field-title">        <span class="field-content"><a href="../info/1096/2812.htm">叶皖林<i style="background:url(../images/03.png);display:inline-block;width:7px;height:12px;background-size:100%;margin-left: 10px;"></i></a></span>  </div>  </div>
  
    <span id="section_u8_17" style="display:none;"><hr style="height:1px;border:none;border-top:1px dashed #CCCCCC;"></span>
<div class="faculty-row" id="line_u8_18">
      
          <div class="center-block faculty-page-img"><a href="../info/1096/3675.htm"><img typeof="foaf:Image" src="/__local/D/38/0E/603A8815C60A6C309CCA0261D00_54A3E814_F3F.gif" width="600" height="600" alt=""></a></div>    
  <div class="views-field views-field-title">        <span class="field-content"><a href="../info/1096/3675.htm">刘林<i style="background:url(../images/03.png);display:inline-block;width:7px;height:12px;background-size:100%;margin-left: 10px;"></i></a></span>  </div>  </div>
  
    <span id="section_u8_18" style="display:none;"><hr style="height:1px;border:none;border-top:1px dashed #CCCCCC;"></span>
<div class="faculty-row" id="line_u8_19">
      
          <div class="center-block faculty-page-img"><a href="../info/1095/2804.htm"><img typeof="foaf:Image" src="/__local/D/38/0E/603A8815C60A6C309CCA0261D00_54A3E814_F3F.gif?e=.gif" width="600" height="600" alt=""></a></div>    
  <div class="views-field views-field-title">        <span class="field-content"><a href="../info/1095/2804.htm">王洁<i style="background:url(../images/03.png);display:inline-block;width:7px;height:12px;background-size:100%;margin-left: 10px;"></i></a></span>  </div>  </div>
  
    <span id="section_u8_19" style="display:none;"><hr style="height:1px;border:none;border-top:1px dashed #CCCCCC;"></span>
<div class="faculty-row" id="line_u8_20">
      
          <div class="center-block faculty-page-img"><a href="../info/1096/3673.htm"><img typeof="foaf:Image" src="/__local/D/38/0E/603A8815C60A6C309CCA0261D00_54A3E814_F3F.gif" width="600" height="600" alt=""></a></div>    
  <div class="views-field views-field-title">        <span class="field-content"><a href="../info/1096/3673.htm">范伟<i style="background:url(../images/03.png);display:inline-block;width:7px;height:12px;background-size:100%;margin-left: 10px;"></i></a></span>  </div>  </div>
  
    <span id="section_u8_20" style="display:none;"><hr style="height:1px;border:none;border-top:1px dashed #CCCCCC;"></span>
<div class="faculty-row" id="line_u8_21">
      
          <div class="center-block faculty-page-img"><a href="../info/1096/3676.htm"><img typeof="foaf:Image" src="/__local/D/38/0E/603A8815C60A6C309CCA0261D00_54A3E814_F3F.gif" width="600" height="600" alt=""></a></div>    
  <div class="views-field views-field-title">        <span class="field-content"><a href="../info/1096/3676.htm">牛彬<i style="background:url(../images/03.png);display:inline-block;width:7px;height:12px;background-size:100%;margin-left: 10px;"></i></a></span>  </div>  </div>
  
    <span id="section_u8_21" style="display:none;"><hr style="height:1px;border:none;border-top:1px dashed #CCCCCC;"></span>
<div class="faculty-row" id="line_u8_22">
      
          <div class="center-block faculty-page-img"><a href="../info/1096/2813.htm"><img typeof="foaf:Image" src="/__local/D/38/0E/603A8815C60A6C309CCA0261D00_54A3E814_F3F.gif" width="600" height="600" alt=""></a></div>    
  <div class="views-field views-field-title">        <span class="field-content"><a href="../info/1096/2813.htm">肖奚强<i style="background:url(../images/03.png);display:inline-block;width:7px;height:12px;background-size:100%;margin-left: 10px;"></i></a></span>  </div>  </div>
  
    <span id="section_u8_22" style="display:none;"><hr style="height:1px;border:none;border-top:1px dashed #CCCCCC;"></span>
<div class="faculty-row" id="line_u8_23">
      
          <div class="center-block faculty-page-img"><a href="../info/1096/2816.htm"><img typeof="foaf:Image" src="/__local/B/D3/22/676E325D71D5893E4F878483B3B_D35ECFD8_6E50D.png" width="600" height="600" alt=""></a></div>    
  <div class="views-field views-field-title">        <span class="field-content"><a href="../info/1096/2816.htm">郭圣林<i style="background:url(../images/03.png);display:inline-block;width:7px;height:12px;background-size:100%;margin-left: 10px;"></i></a></span>  </div>  </div>
  
    <span id="section_u8_23" style="display:none;"><hr style="height:1px;border:none;border-top:1px dashed #CCCCCC;"></span>
<script>_showDynClickBatch(['dynclicks_u8_2818','dynclicks_u8_2806','dynclicks_u8_2546','dynclicks_u8_2798','dynclicks_u8_2799','dynclicks_u8_2809','dynclicks_u8_2802','dynclicks_u8_2807','dynclicks_u8_2801','dynclicks_u8_2808','dynclicks_u8_3002','dynclicks_u8_2811','dynclicks_u8_3677','dynclicks_u8_2815','dynclicks_u8_3678','dynclicks_u8_2814','dynclicks_u8_3674','dynclicks_u8_2812','dynclicks_u8_3675','dynclicks_u8_2804','dynclicks_u8_3673','dynclicks_u8_3676','dynclicks_u8_2813','dynclicks_u8_2816'],[2818,2806,2546,2798,2799,2809,2802,2807,2801,2808,3002,2811,3677,2815,3678,2814,3674,2812,3675,2804,3673,3676,2813,2816],"wbnews", 1556897866)</script></div></div>                                    </div></section>              
            </div>          
        </section>
    </section>
</div>




<footer id="footer">
  <div class="container-fluid">
        <section id="lower-footer" class="section full-width-bg dark-black">        
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-6 hidden-xs">    

 <a href="http://en.njnu.edu.cn/" title="" target="_blank"><img class="logo-footer" src="../images/logo-footer.png" alt="" role="presentation" onclick="_addDynClicks(&quot;wbimage&quot;, 1556897866, 51012)"></a>
                

</div>
                <div class="col-lg-5 col-sm-6 col-xs-12">
                      <div id="block-block-1" class="block block-block"> <div class="copyright-nnu pull-right"><!-- 版权内容请在本组件"内容配置-版权"处填写 -->
<p>© 2017 南京师范大学国际文化教育学院. &nbsp;版权所有.</p></div></div>               </div>
            </div>          
        </section>
  </div>        
</footer>



<script id="asbtbinit" type="text/javascript" src="../js/jquery-migrate.min.js"></script>
<script type="text/javascript" src="../dfiles/11316/sites/default/files/js/js_vsmhpx_t-ashyt_wmw5_tcwwxjp1imovoa8jvwl_mxe.js"></script>
<script type="text/javascript" src="../dfiles/11316/sites/default/files/js/js_blxotns2yt7yglf9qri9l9amfdnkqfnn-_adbtw3sie.js"></script>

<script type="text/javascript" src="../dfiles/11316/sites/default/files/js/js_eg95roue0t7muza09arw7mvdmcbamlm1n1pg-jidzgi.js"></script>
<script type="text/javascript" src="../dfiles/11316/sites/default/files/js/js_7-q4xx5faxgfwwma9tmcs9q__822jcg6rhczpiss8lq.js"></script>
<script type="text/javascript" src="../dfiles/11316/sites/default/files/js/js_c_doqq8fad8n-ksmz9cx6dckxhgtymzjg8p71sc9vd8.js"></script>
<script type="text/javascript" src="../dfiles/12008/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../dfiles/11316/sites/default/files/js/js_cjjmxzwrqast3teqcvx0ljjoyc16-ljupczinugqqrs.js"></script>




</body></html>